@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    transition: all 0.3s ease;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.theme-section {
    padding: 100px 0;
}

.section-heading {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}

.section-heading h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.section-heading p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
    margin-top: 24px;
}

.button {
    height: 52px;
    line-height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 0 35px;
    display: inline-block;
    border: medium none;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 2px solid transparent;
}
.button:not(.find-now-btn):hover {
    border-color: #FF5400;
    color: #FF5400;
    background: transparent;
}
/* Header area styles  */
.header-section {
    padding: 50px 0;
}
.header-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}
.logo h3 span {
    color: #FF5400;
}
.main-menu {
    display: flex;
    align-items: center;
    gap: 44px;
}
.main-menu li a {
    color:  #424247;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.main-menu li.active a{
    color: #FF5400;
    font-weight: 700;
}
.humberger-icon {
    display: none;
}

/* Banner area styles  */

.banner-content-wrapper {
    height: 500px;
    position: relative;
    background: url('img/banner-bg.png') no-repeat center center / cover;
    border-radius: 16px;
    display: grid;
    place-content: center;
}
.banner-content-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner-content {
    width: fit-content;
    position: relative;
    z-index: 1;
    text-align: center;
}

.banner-content h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}
.banner-content p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;  
    width: 675px;
    margin-bottom: 48px;
}

.travel-destination-search {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.travel-destination-search input,
.travel-destination-search select {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    padding-left: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.travel-destination-search select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("img/select-icon.png") white no-repeat 98.5% !important;
    background: url("img/select-icon.png") white no-repeat calc(100% - 10px) !important;
}
.travel-destination-search input::placeholder,
.travel-destination-search select option {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.travel-destination-search select:focus,
.travel-destination-search input:focus {
    border-color: #FF5400;
    outline: none;
    box-shadow: none;
}
.find-now-btn {
    cursor: pointer;
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Popular tours area styles  */
.popular-tours-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    align-items: center;
}
.popular-tours-content h3 {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}
.popular-tours-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.popular-tours-list {
    margin: 24px 0;
    padding: 0 20px;
}
.popular-tours-list li {
    list-style: disc;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.popular-tours-list li:nth-child(n + 2) {
    margin-top: 16px;
}
.popular-tours-content .button {
    margin-top: 32px;
}
.popular-tour-img img {
    width: 100%;
}


/* Destination section styles */

.destination-location-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.single-destination {
    transition: all 0.4s ease 0s;
    overflow: hidden;
}
.single-destination img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease 0s;
}
.single-destination:hover>img {
    transform: scale(1.1);
}
.single-destination {
    position: relative;
}
.single-destination::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    z-index: 2;
}
.single-destination h4 {
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    z-index: 3;
}
.single-destination:nth-child(1) {
    flex-basis: calc(50% - 12px);
}

.single-destination:nth-child(2) {
    flex-basis: calc(50% - 12px);
}

.single-destination:nth-child(3) {
    flex-basis: calc(30% - 12px);
}

.single-destination:nth-child(4),
.single-destination:nth-child(7) {
    flex: auto;
}

.single-destination:nth-child(5) {
    flex-basis: calc(25% - 12px);
}

.single-destination:nth-child(6) {
    flex-basis: calc(40% - 12px);
}


/* WHy choose us section styles  */

.why-choose-us-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.single-choose-reason {
    flex: 0 1 calc(50% - 78px);
    border-radius: 16px;
    padding: 32px;
}

.single-choose-reason:nth-child(1) {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.single-choose-reason:nth-child(2) {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.single-choose-reason:nth-child(3) {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.single-choose-reason h5 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal; 
    margin-top: 32px;
    margin-bottom: 16px;   
}

.single-choose-reason p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
}



/* Newsletter section styles  */

.newsletter-section {
    padding-bottom: 100px;
}

.newsletter-content-wrapper {
    display: flex;
    gap: 24px;
}

.newsletter-content {
    flex: 1;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-content h5 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}
.newsletter-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 0;
}

.newsletter-subscribe-form {
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid rgba(19, 19, 24, 0.10);
}

.newsletter-subscribe-form input {
    width: calc(100% - 15px);
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 52px;
    padding-left: 15px;
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
    display: block;
}
.newsletter-subscribe-form input:focus {
    border-color: #FF5400;
}
.newsletter-subscribe-form input + input {
    margin-top: 16px;
}

.subscribe-btn {
    margin-top: 24px;
    width: 100%;
}

.newsletter-offer {
    position: relative;
}

.newsletter-offer-content {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 16px;
    background: #FF5400;
    padding: 30px;
    text-align: center;
    transform: translate(-10px, -42px) rotate(-19.628deg);
}
.newsletter-offer-content h5 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
.newsletter-offer-content h4 {
    margin-bottom: 0;
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
}

.newsletter-offer img {
    width: 100%;
    height: 100%;
}


/* Deals & discount section styles  */

.single-deal-discount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 56px; */
    position: relative;
}
.single-deal-discount:nth-child(n + 2) {
    margin-top: 24px;
}
.single-deal-discount img {
    width: 100%;
}
.deal-discount-content {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px 77px 50px 50px;
    position: absolute;
}
.single-deal-discount:nth-child(odd) .deal-discount-content {
    right: 56px;
}
.single-deal-discount:nth-child(even) .deal-discount-content {
    left: 56px;
}

.deals-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.deals-list li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.deals-list li i {
    color: #FF5400;
}

.deal-discount-content h5 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 15px;
}
.deal-discount-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
    width: 450px;
}
.deal-discount-content h6 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.see-all-packages {
    text-align: center;
    margin-top: 48px;
}


/* Place video area styles  */

.place-video-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}

.place-video-content h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}
.place-video-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
    padding-right: 15px;
}

.place-atmosphere-list {
    margin-bottom: 32px;
    padding-left: 15px;
    padding-right: 55px;
}
.place-atmosphere-list li {
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    list-style: disc;
}
.place-atmosphere-list li:nth-child(n + 2) {
    margin-top: 16px;
}

.place-video iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* Blog area styles  */
.blog-section {
    padding-bottom: 100px;
}
.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.single-blog {
    transition: all 0.3s ease 0s;
}

.blog-img img {
    width: 100%;
    border-radius: 4px;
}

.blog-summary {
    margin-top: 7px;
}

.blog-summary h5 a {
    font-size: 18px;
    margin-bottom: 10px;
    color: #131318;
    display: inline-block;
}
.single-blog:hover h5 a,
.blog-summary h5 a:hover {
    color: #FF5400;
}
.blog-summary p {
    margin-bottom: 0;
}




/* Footer section styles  */

.footer-section {
    background: rgba(19, 19, 24, 0.05);
}
.footer-content {
    text-align: center;
}
.footer-content .logo {
    justify-content: center;
    margin-bottom: 15px;
}
.footer-content > p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 65%;
    margin: 0 auto;
}

.social-menu-list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;
}

.social-menu-list li a {
    color: #131318;
}
.social-menu-list li a:hover {
    color: #FF5400;
}

.copyright-info {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid rgba(19, 19, 24, 0.10);
}
.copyright-info p {
    margin-bottom: 0;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
}
























